# Configuración de logs para Docker en Elastic Beanstalk
# Los logs de la aplicación serán capturados por CloudWatch

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-docker/containers/eb-current-app/*.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/eb-docker/containers/eb-current-app/*.log

